
<div class="outerDiv">
 
 <div id="locationDiv">   
  <form>  
   <label>Location: </label>
   <input type="text" [(ngModel)]="location" (change)="displayCurrentForecast()" 
    [ngModelOptions]="ngModelOptions" placeholder="Enter location">
  </form>
 </div>

 <div id="unitsDiv">
  <form>  
   <label class="unit">
    <input name="unit" (click)="displayCurrentForecast()" (change)="setTempType()" [(ngModel)]="temp_type" type="radio" 
     value="C" [ngModelOptions]="ngModelOptions"> Celsius (°C)
   </label>
   <label class="unit">
    <input name="unit" (click)="displayCurrentForecast()" (change)="setTempType()" [(ngModel)]="temp_type" type="radio" 
     value="F" [ngModelOptions]="ngModelOptions" checked> Fahrenheit (°F)
   </label>
  </form>
 </div>

 <div id="displayDiv" *ngIf="location!='none' && location!=undefined" class="divMain">
  <ng-template [ngIf]="showForecast">
   <div id="currTempDiv">
    <h3>Current Temperature ({{ temp_type }}):</h3> 
    <img [ngSrc]="icon" alt="icon" width="60" height="50" style="float:left;"> <!--{{ conditions }}-->
    <label>{{ curr_temp }}&#176;</label> <br> 
   </div>

   <div id="windDiv">
    <label>wind chill: {{ windchill }}&#176;</label> <br>
    <label>wind {{ wind_mph }} (mph)</label> <br>
    <label>wind gust: {{ gust_mph }} (mph)</label> <br><br>  
   </div>

   <div id ="moistureDiv">
    <label>feels like: {{ feelslike }}&#176;</label> <br>
    <label>dew point: {{ dewpoint }}&#176;</label> <br>
    <label>humidity: {{ humidity }}&#37;</label> <br>
   </div>
  
   <div id ="airQualityDiv">
    <h3 id="aqTitle">Air Quality</h3>
   
    <ng-template [ngIf]="showAQ">
     <label>category: {{ category }}</label> <br>
     <label>aqi: {{ aqi }}</label> <br>
     <label>dominantPollutant: {{ dominantPollutant }}</label> <br>
    </ng-template>
    <ng-template [ngIf]="!showAQ">
     <label>Unavailable for location</label>
    </ng-template>
   </div>
  </ng-template>

  <ng-template [ngIf]="showForecast==false">
   <h3>Forecast unavailable for location</h3>
  </ng-template>
 </div>
</div>
